# Github .gitignore for C

# Binary files
bin/

server
client
connected_clients.txt

# Object files
*.o
*.ko

# Libraries
*.lib
*.a
lib/

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
